<footer id="footer">
  <div class="wrapper">
    <p>
        <a href="https://www.thomsonreuters.com">Thomson Reuters</a> |
        <a href="https://github.com">Documentation</a>
    </p>
  </div>
</footer>
