<div id="home">
    <div id="homepage_bot">
        <iframe id="botkit_client" src="/chat.html"></iframe>
    </div>

    <div id="welcome">
        <img src="tria2.png" />
        <p><a href="/chat.html">Make me full screen</a></p>
        <p><a href="/embed">Embed me in a web site</a></p>
    </div>
</div>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>
